<i class="fas fa-chevron-circle-left"></i>
<div class="row justify-content-center mt-5">
  <div class="col-12 col-sm-5 was-validated text-center">
    <label for="validationCountry" class="">Elige el pais donde te gustaria enviar remesas</label>
    <select class="custom-select" id="validationCountry" onchange="validarSelectPais(this)" required>
      <option selected disabled value="">Elegir...</option>
      <%if current_user.country != "Argentina" || current_user.is_admin?%>
      <option value="Argentina">Argentina</option>
      <%end%>
      <%if current_user.country != "Brasil" || current_user.is_admin?%>
      <option value="Brasil">Brasil</option>
      <%end%>
      <%if current_user.country != "Chile" || current_user.is_admin?%>
      <option value="Chile">Chile</option>
      <%end%>
      <%if current_user.country != "Colombia" || current_user.is_admin?%>
      <option value="Colombia">Colombia</option>
      <%end%>
      <%if current_user.country != "Ecuador" || current_user.is_admin?%>
      <option value="Ecuador">Ecuador</option>
      <% end %>
      <%if current_user.country != "España" || current_user.is_admin?%>
      <option value="España">España</option>
      <%end%>
      <%if current_user.country != "Panama" || current_user.is_admin?%>
      <option value="Panama">Panama</option>
      <%end%>
      <%if current_user.country != "Peru" || current_user.is_admin?%>
      <option value="Peru">Peru</option>
      <%end%>
      <!--<option value="Portugal">Portugal</option>-->
      <%if current_user.country != "USA" || current_user.is_admin?%>
      <option value="USA">USA</option>
      <%end%>
      <%if current_user.country != "Venezuela" || current_user.is_admin?%>
      <option value="Venezuela">Venezuela</option>
      <%end%>
    </select>
    <div class="invalid-feedback">Elige una opcion</div>
  </div>
</div>
<!--Metodos de Pago de Argentina-->
<%if current_user.country != "Argentina" || current_user.is_admin?%>
<div class="row justify-content-center mt-3 d-none" id="MethodsArgentina">
  <div class="col-12 col-sm-5 was-validated text-center">
    <label for="validationMethodsArgentina" class="">Elije un metodo de pago para recibir</label>
    <select class="custom-select" id="validationMethosArgentina" onChange="modifyEnlace(this)" required>
      <option selected disabled value="">Elegir...</option>
      <option value="banks">Cuenta Bancaria</option>
    </select>
    <div class="invalid-feedback">Elige una opcion</div>
  </div>
</div>
<%end%>

<!--Metodos de Pago de Brasil-->
<%if current_user.country != "Brasil" || current_user.is_admin?%>
<div class="row justify-content-center mt-3 d-none" id="MethodsBrasil">
  <div class="col-12 col-sm-5 was-validated text-center">
    <label for="validationMethodsBrasil" class="">Elije un metodo de pago</label>
    <select class="custom-select" id="validationMethodsBrasil" onchange="modifyEnlace(this)"  required>
      <option selected disabled value="">Elegir...</option>
      <option value="banks_brasil">Cuenta Bancaria</option>
      <option value="wallets">Monedero Digital</option>
      <option value="pago_movil">Pago Digital</option>
    </select>
    <div class="invalid-feedback">Elige una opcion</div>
  </div>
</div>
<%end%>

<!--Metodos de Pago de Chile-->
<%if current_user.country != "Chile" || current_user.is_admin?%>
<div class="row justify-content-center mt-3 d-none" id="MethodsChile">
  <div class="col-12 col-sm-5 was-validated text-center">
    <label for="validationMethodsChile" class="">Elije un metodo de pago</label>
    <select class="custom-select" id="validationMethodsChile" onchange="modifyEnlace(this)"  required>
      <option selected disabled value="">Elegir...</option>
      <option value="banks">Cuenta Bancaria</option>
      
    </select>
    <div class="invalid-feedback">Elige una opcion</div>
  </div>
</div>
<%end%>

<!--Metodos de Pago de Colombia-->
<%if current_user.country != "Colombia" || current_user.is_admin?%>
<div class="row justify-content-center mt-3 d-none" id="MethodsColombia">
  <div class="col-12 col-sm-5 was-validated text-center">
    <label for="validationMethodsColombia" class="">Elije un metodo de pago</label>
    <select class="custom-select" id="validationMethodsColombia" onchange="modifyEnlace(this)" required>
      <option selected disabled value="">Elegir...</option>
      <option value="banks">Cuenta Bancaria</option>
      <option value="digital_payments">Pago Digital</option>       
    </select>
    <div class="invalid-feedback">Elige una opcion</div>
  </div>
</div>
<%end%>

<!--Metodos de Pago de Ecuador-->
<%if current_user.country != "Ecuador" || current_user.is_admin?%>
<div class="row justify-content-center mt-3 d-none" id="MethodsEcuador">
  <div class="col-12 col-sm-5 was-validated text-center">
    <label for="validationMethodsEcuador" class="">Elije un metodo de pago</label>
    <select class="custom-select" id="validationMethodsEcuador" onchange="modifyEnlace(this)" required>
      <option selected disabled value="">Elegir...</option>
      <option value="banks">Cuenta Bancaria</option>     
    </select>
    <div class="invalid-feedback">Elige una opcion</div>
  </div>
</div>
<%end%>

<!--Metodos de Pago de España-->
<%if current_user.country != "España" || current_user.is_admin?%>
<div class="row justify-content-center mt-3 d-none" id="MethodsEspaña">
  <div class="col-12 col-sm-5 was-validated text-center">
    <label for="validationMethodsEspaña" class="">Elije un metodo de pago</label>
    <select class="custom-select" id="validationMethodsEspaña" onchange="modifyEnlace(this)" required>
      <option selected disabled value="">Elegir...</option>
      <option value="banks">Cuenta Bancaria</option>     
    </select>
    <div class="invalid-feedback">Elige una opcion</div>
  </div>
</div>
<%end%>

<!--Metodos de Pago de Panama-->
<%if current_user.country != "Panama" || current_user.is_admin?%>
<div class="row justify-content-center mt-3 d-none" id="MethodsPanama">
  <div class="col-12 col-sm-5 was-validated text-center">
    <label for="validationMethodsPanama" class="">Elije un metodo de pago</label>
    <select class="custom-select" id="validationMethodsPanama" onchange="modifyEnlace(this)" required>
      <option selected disabled value="">Elegir...</option>
      <option value="banks">Cuenta Bancaria</option>     
    </select>
    <div class="invalid-feedback">Elige una opcion</div>
  </div>
</div>
<%end%>

<!--Metodos de Pago de Peru-->
<%if current_user.country != "Peru" || current_user.is_admin?%>
<div class="row justify-content-center mt-3 d-none" id="MethodsPeru">
  <div class="col-12 col-sm-5 was-validated text-center">
    <label for="validationMethodsPeru" class="">Elije un metodo de pago</label>
    <select class="custom-select" id="validationMethodsPeru" onchange="modifyEnlace(this)" required>
      <option selected disabled value="">Elegir...</option>
      <option value="banks">Cuenta Bancaria</option>     
    </select>
    <div class="invalid-feedback">Elige una opcion</div>
  </div>
</div>
<%end%>

<!--Metodos de Pago de USA-->
<%if current_user.country != "USA" || current_user.is_admin?%>
<div class="row justify-content-center mt-3 d-none" id="MethodsUSA">
  <div class="col-12 col-sm-5 was-validated text-center">
    <label for="validationMethodsUSA" class="">Elije un metodo de pago</label>
    <select class="custom-select" id="validationMethodsUsa" onchange="modifyEnlace(this)" required>
      <option selected disabled value="">Elegir...</option>
      <option value="wallets">Monedero Digital</option>     
    </select>
    <div class="invalid-feedback">Elige una opcion</div>
  </div>
</div>
<%end%>

<!--Metodos de Pago de Venezuela-->
<%if current_user.country != "Venezuela" || current_user.is_admin?%>
<div class="row justify-content-center mt-3 d-none" id="MethodsVenezuela">
  <div class="col-12 col-sm-5 was-validated text-center">
    <label for="validationMethodsVenezuela" class="">Elije un metodo de pago</label>
    <select class="custom-select" id="validationMethodsVenezuela" onchange="modifyEnlace(this)" required>
      <option selected disabled value="">Elegir...</option>
      <option value="banks">Cuenta Bancaria</option>
      <option value="mobile_payment">Pago Movil</option>       
    </select>
    <div class="invalid-feedback">Elige una opcion</div>
  </div>
</div>
<%end%>

<div class="row justify-content-center mt-3 d-none" id="cajaEnlace">
  <div class="col-12 col-sm-5 was-validated text-center">
    <a class="btn btn-success" href="" id="enlace">Continuar</a>
  </div>
</div>
<script>
    function eliminarCajas(){
        //VARIABLES
        enlaceCaja = document.getElementById("cajaEnlace");
        selects = document.getElementsByTagName("select");

        //OCULTAR CAJAS
        <%if current_user.country != "Argentina" || current_user.is_admin?%>
        listaMethodsArgentina = document.getElementById("MethodsArgentina");
        listaMethodsArgentina.classList.add("d-none");
        <%end%>

        <%if current_user.country != "Brasil" || current_user.is_admin?%>
        listaMethodsBrasil = document.getElementById("MethodsBrasil");
        listaMethodsBrasil.classList.add("d-none");
        <%end%>

        <%if current_user.country != "Chile" || current_user.is_admin?%>
        listaMethodsChile = document.getElementById("MethodsChile");
        listaMethodsChile.classList.add("d-none");
        <%end%>

        <%if current_user.country != "Colombia" || current_user.is_admin?%>
        listaMethodsColombia = document.getElementById("MethodsColombia");
        listaMethodsColombia.classList.add("d-none");
        <%end%>

        <%if current_user.country != "Ecuador" || current_user.is_admin?%>
        listaMethodsEcuador = document.getElementById("MethodsEcuador");
        listaMethodsEcuador.classList.add("d-none");
        <%end%>

        <%if current_user.country != "España" || current_user.is_admin?%>
        listaMethodsEcuador = document.getElementById("MethodsEspaña");
        listaMethodsEcuador.classList.add("d-none");
        <%end%>

        <%if current_user.country != "Panama" || current_user.is_admin?%>
        listaMethodsPanama = document.getElementById("MethodsPanama");
        listaMethodsPanama.classList.add("d-none");
        <%end%>

        <%if current_user.country != "Peru" || current_user.is_admin?%>
        listaMethodsPeru = document.getElementById("MethodsPeru");
        listaMethodsPeru.classList.add("d-none");
        <%end%>

        <%if current_user.country != "USA" || current_user.is_admin?%>
        listaMethodsUSA = document.getElementById("MethodsUSA");
        listaMethodsUSA.classList.add("d-none");
        <%end%>

        <%if current_user.country != "Venezuela" || current_user.is_admin?%>
        listaMethodsVenezuela = document.getElementById("MethodsVenezuela");
        listaMethodsVenezuela.classList.add("d-none");
        <%end%>

        //RESETEAR VALORES DE LOS SELECTS
        for (let i = 1; i < selects.length; i++) {
            selects[i].value = "";         
        }
        //OCULTAR BOTON DE ENLACE 
        enlaceCaja.classList.add("d-none"); 
    }
    function validarSelectPais(select) {
        cajas = document.getElementsByTagName("div");
  
        switch (select.value) {
            <%if current_user.country != "Argentina" || current_user.is_admin?%>
            case "Argentina":
                eliminarCajas();
                argentinaMethods = document.getElementById("MethodsArgentina");
                argentinaMethods.classList.remove("d-none");
                break;
            <%end%>

            <%if current_user.country != "Brasil" || current_user.is_admin?%>
            case "Brasil":

                eliminarCajas();
                brasilMethods = document.getElementById("MethodsBrasil");
                brasilMethods.classList.remove("d-none");
                break;
            <%end%>

            <%if current_user.country != "Chile" || current_user.is_admin?%>
            case "Chile":

                eliminarCajas();
                chileMethods = document.getElementById("MethodsChile");
                chileMethods.classList.remove("d-none");
                break;
            <%end%>

            <%if current_user.country != "Colombia" || current_user.is_admin?%>
            case "Colombia":

                eliminarCajas();
                colombiaMethods = document.getElementById("MethodsColombia");
                colombiaMethods.classList.remove("d-none");
                break;
            <%end%>

            <%if current_user.country != "Ecuador" || current_user.is_admin?%>
            case "Ecuador":

                eliminarCajas();
                ecuadorMethods = document.getElementById("MethodsEcuador");
                ecuadorMethods.classList.remove("d-none");
                break;
            <%end%>

            <%if current_user.country != "España" || current_user.is_admin?%>
            case "España":

                eliminarCajas();
                ecuadorMethods = document.getElementById("MethodsEspaña");
                ecuadorMethods.classList.remove("d-none");
                break;
            <%end%>

            <%if current_user.country != "Panama" || current_user.is_admin?%>
            case "Panama":

                eliminarCajas();
                panamaMethods = document.getElementById("MethodsPanama");
                panamaMethods.classList.remove("d-none");
                break;
            <%end%>

            <%if current_user.country != "Peru" || current_user.is_admin?%>
            case "Peru":

                eliminarCajas();
                peruMethods = document.getElementById("MethodsPeru");
                peruMethods.classList.remove("d-none");
                break;
            <%end%>

            <%if current_user.country != "USA" || current_user.is_admin?%>
            case "USA":

                eliminarCajas();
                usaMethods = document.getElementById("MethodsUSA");
                usaMethods.classList.remove("d-none");
                break;
            <%end%>

            <%if current_user.country != "Venezuela" || current_user.is_admin?%>
            case "Venezuela":

                eliminarCajas();
                venezuelaMethods = document.getElementById("MethodsVenezuela");
                venezuelaMethods.classList.remove("d-none");
                break;
            <%end%>

            default:
                break;
        }
    }
    function modifyEnlace(select) {
        enlace = document.getElementById("enlace");
        enlaceCaja = document.getElementById("cajaEnlace");
        country = document.getElementById("validationCountry");

        switch (select.value) {
            case "banks":
                enlaceCaja.classList.remove("d-none");
                enlace.href = "/banks/new?country=".concat(country.value);
                break;
            
            case "banks_brasil":
                enlaceCaja.classList.remove("d-none");
                enlace.href = "/bank_brasils/new?country=".concat(country.value);
                break;

            case "wallets":
                enlaceCaja.classList.remove("d-none");
                enlace.href = "/wallets/new?country=".concat(country.value);
                break;
            
            case "pago_movil":
                enlaceCaja.classList.remove("d-none");
                enlace.href = "/wallet_with_users/new?country=".concat(country.value);
                break;
            
            case "digital_payments":
                enlaceCaja.classList.remove("d-none");
                enlace.href = "/digital_payments/new?country=".concat(country.value);
                break;

            case "mobile_payment":
                enlaceCaja.classList.remove("d-none");
                enlace.href = "/mobile_payments/new?country=".concat(country.value);
                break;

            default:
                break;
        }
    }
</script>
