<div class="row justify-content-center mt-5">
  <div class="col-12 col-sm-5 was-validated text-center">
    <label for="validationCountry" class="">Elige el pais donde te gustaria enviar remesas</label>
    <select class="custom-select" id="validationCountry" onChange="validarSelectPais(this)" required>
      <option selected disabled value="">Elegir...</option>
      <option value="Argentina">Argentina</option>
      <option value="Brasil">Brasil</option>
      <option value="Chile">Chile</option>
      <option value="Colombia">Colombia</option>
      <option value="Ecuador">Ecuador</option>
      <option value="España">España</option>
      <option value="Panama">Panama</option>
      <option value="Peru">Peru</option>
      <!--<option value="Portugal">Portugal</option>-->
      <option value="USA">USA</option>
      <option value="Venezuela">Venezuela</option>
    </select>
    <div class="invalid-feedback">Elige una opcion</div>
  </div>
</div>
<!--Metodos de Pago de Argentina-->
<div class="row justify-content-center mt-3 d-none" id="MethodsArgentina">
  <div class="col-12 col-sm-5 was-validated text-center">
    <label for="validationMethodsArgentina" class="">Elije un metodo de pago para recibir</label>
    <select class="custom-select" id="validationMethosArgentina" onChange="modifyEnlace(this)" required>
      <option selected disabled value="">Elegir...</option>
      <option value="banks">Cuenta Bancaria</option>
    </select>
    <div class="invalid-feedback">Elige una opcion</div>
  </div>
</div>
<!--Metodos de Pago de Brasil-->
<div class="row justify-content-center mt-3 d-none" id="MethodsBrasil">
  <div class="col-12 col-sm-5 was-validated text-center">
    <label for="validationMethodsBrasil" class="">Elije un metodo de pago</label>
    <select class="custom-select" id="validationMethodsBrasil" onchange="modifyEnlace(this)"  required>
      <option selected disabled value="">Elegir...</option>
      <option value="banks_brasil">Cuenta Bancaria</option>
      <option value="wallets">Monedero Digital</option>
      <option value="pago_movil">Pago Movil</option>
    </select>
    <div class="invalid-feedback">Elige una opcion</div>
  </div>
</div>
<!--Metodos de Pago de Chile-->
<div class="row justify-content-center mt-3 d-none" id="MethodsChile">
  <div class="col-12 col-sm-5 was-validated text-center">
    <label for="validationMethodsChile" class="">Elije un metodo de pago</label>
    <select class="custom-select" id="validationMethodsChile" onchange="modifyEnlace(this)"  required>
      <option selected disabled value="">Elegir...</option>
      <option value="banks">Cuenta Bancaria</option>
      
    </select>
    <div class="invalid-feedback">Elige una opcion</div>
  </div>
</div>

<!--Metodos de Pago de Colombia-->
<div class="row justify-content-center mt-3 d-none" id="MethodsColombia">
  <div class="col-12 col-sm-5 was-validated text-center">
    <label for="validationMethodsColombia" class="">Elije un metodo de pago</label>
    <select class="custom-select" id="validationMethodsColombia" onchange="modifyEnlace(this)" required>
      <option selected disabled value="">Elegir...</option>
      <option value="banks">Cuenta Bancaria</option>
      <option value="digital_payments">Pago Digital</option>       
    </select>
    <div class="invalid-feedback">Elige una opcion</div>
  </div>
</div>

<!--Metodos de Pago de Ecuador-->
<div class="row justify-content-center mt-3 d-none" id="MethodsEcuador">
  <div class="col-12 col-sm-5 was-validated text-center">
    <label for="validationMethodsEcuador" class="">Elije un metodo de pago</label>
    <select class="custom-select" id="validationMethodsEcuador" onchange="modifyEnlace(this)" required>
      <option selected disabled value="">Elegir...</option>
      <option value="banks">Cuenta Bancaria</option>     
    </select>
    <div class="invalid-feedback">Elige una opcion</div>
  </div>
</div>

<!--Metodos de Pago de Panama-->
<div class="row justify-content-center mt-3 d-none" id="MethodsPanama">
  <div class="col-12 col-sm-5 was-validated text-center">
    <label for="validationMethodsPanama" class="">Elije un metodo de pago</label>
    <select class="custom-select" id="validationMethodsPanama" onchange="modifyEnlace(this)" required>
      <option selected disabled value="">Elegir...</option>
      <option value="banks">Cuenta Bancaria</option>     
    </select>
    <div class="invalid-feedback">Elige una opcion</div>
  </div>
</div>

<!--Metodos de Pago de Peru-->
<div class="row justify-content-center mt-3 d-none" id="MethodsPeru">
  <div class="col-12 col-sm-5 was-validated text-center">
    <label for="validationMethodsPeru" class="">Elije un metodo de pago</label>
    <select class="custom-select" id="validationMethodsPeru" onchange="modifyEnlace(this)" required>
      <option selected disabled value="">Elegir...</option>
      <option value="banks">Cuenta Bancaria</option>     
    </select>
    <div class="invalid-feedback">Elige una opcion</div>
  </div>
</div>

<!--Metodos de Pago de USA-->
<div class="row justify-content-center mt-3 d-none" id="MethodsUSA">
  <div class="col-12 col-sm-5 was-validated text-center">
    <label for="validationMethodsUSA" class="">Elije un metodo de pago</label>
    <select class="custom-select" id="validationMethodsUsa" onchange="modifyEnlace(this)" required>
      <option selected disabled value="">Elegir...</option>
      <option value="wallets">Monedero Digital</option>     
    </select>
    <div class="invalid-feedback">Elige una opcion</div>
  </div>
</div>

<div class="row justify-content-center mt-3 d-none" id="cajaEnlace">
  <div class="col-12 col-sm-5 was-validated text-center">
    <a class="btn btn-success" href="" id="enlace">Continuar</a>
  </div>
</div>
<script>
    function eliminarCajas(){
        //VARIABLES
        enlaceCaja = document.getElementById("cajaEnlace");
        selects = document.getElementsByTagName("select");
        listaMethodsArgentina = document.getElementById("MethodsArgentina");
        listaMethodsBrasil = document.getElementById("MethodsBrasil");
        listaMethodsChile = document.getElementById("MethodsChile");
        listaMethodsColombia = document.getElementById("MethodsColombia");
        listaMethodsEcuador = document.getElementById("MethodsEcuador");
        listaMethodsPanama = document.getElementById("MethodsPanama");
        listaMethodsPeru = document.getElementById("MethodsPeru");
        listaMethodsUSA = document.getElementById("MethodsUSA");

        //OCULTAR CAJAS
        listaMethodsArgentina.classList.add("d-none");
        listaMethodsBrasil.classList.add("d-none");
        listaMethodsChile.classList.add("d-none");
        listaMethodsColombia.classList.add("d-none");
        listaMethodsEcuador.classList.add("d-none");
        listaMethodsPanama.classList.add("d-none");
        listaMethodsPeru.classList.add("d-none");
        listaMethodsUSA.classList.add("d-none");

        //RESETEAR VALORES DE LOS SELECTS
        for (let i = 1; i < selects.length; i++) {
            selects[i].value = "";         
        }
        //OCULTAR BOTON DE ENLACE 
        enlaceCaja.classList.add("d-none"); 
    }
    function validarSelectPais(select) {
        cajas = document.getElementsByTagName("div");
        listCajas = ["MethodsArgentina","MethodsBrasil"];
        switch (select.value) {
            case "Argentina":
                eliminarCajas();
                argentinaMethods = document.getElementById("MethodsArgentina");
                argentinaMethods.classList.remove("d-none");
                break;

            case "Brasil":

                eliminarCajas();
                brasilMethods = document.getElementById("MethodsBrasil");
                brasilMethods.classList.remove("d-none");
                break;

            case "Chile":

                eliminarCajas();
                chileMethods = document.getElementById("MethodsChile");
                chileMethods.classList.remove("d-none");
                break;

            case "Colombia":

                eliminarCajas();
                colombiaMethods = document.getElementById("MethodsColombia");
                colombiaMethods.classList.remove("d-none");
                break;

            case "Ecuador":

                eliminarCajas();
                ecuadorMethods = document.getElementById("MethodsEcuador");
                ecuadorMethods.classList.remove("d-none");
                break;

            case "Panama":

                eliminarCajas();
                panamaMethods = document.getElementById("MethodsPanama");
                panamaMethods.classList.remove("d-none");
                break;

            case "Peru":

                eliminarCajas();
                peruMethods = document.getElementById("MethodsPeru");
                peruMethods.classList.remove("d-none");
                break;

            case "USA":

                eliminarCajas();
                usaMethods = document.getElementById("MethodsUSA");
                usaMethods.classList.remove("d-none");
                break;

            default:
                break;
        }
    }
    function modifyEnlace(select) {
        enlace = document.getElementById("enlace");
        enlaceCaja = document.getElementById("cajaEnlace");
        country = document.getElementById("validationCountry");

        switch (select.value) {
            case "banks":
                enlaceCaja.classList.remove("d-none");
                enlace.href = "/banks/new?country=".concat(country.value);
                break;
            
            case "banks_brasil":
                enlaceCaja.classList.remove("d-none");
                enlace.href = "/bank_brasils/new?country=".concat(country.value);
                break;

            case "wallets":
                enlaceCaja.classList.remove("d-none");
                enlace.href = "/wallets/new?country=".concat(country.value);
                break;
            
            case "pago_movil":
                enlaceCaja.classList.remove("d-none");
                enlace.href = "/wallet_with_users/new?country=".concat(country.value);
                break;
            
            case "digital_payments":
                enlaceCaja.classList.remove("d-none");
                enlace.href = "/digital_payments/new?country=".concat(country.value);
                break;

            default:
                break;
        }
    }
</script>
