<p id="notice"><%= notice %></p>

<p>
  <strong>Bank:</strong>
  <%= @avalaible_bank.bank %>
</p>

<%= link_to 'Edit', edit_avalaible_bank_path(@avalaible_bank) %> |
<%= link_to 'Back', avalaible_banks_path %>
