<% if resource.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h5 class="text-danger"><%if resource.errors.count > 1%><%=resource.errors.count%> errores han sido detectados en los siguientes campos:<%else%><%=resource.errors.count%> error ha sido detectado en el siguiente campo:<%end%></h5>
<!--    
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
-->
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li>
          <%if message === "Confirmar Contrase침a:  doesn't match Contrase침a: "%>
            Confirmar Contrase침a: La confirmaci칩n no coincide
          <%else%>
            <%= message %>
          <%end%>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>