<%case modelo
    when "Notification"
        background = "#889ccf"
    when "User"
        background = "#17a2b8"
    when "Transaction"
        background = "#0b254b"
end%>

<div class="progress d-none">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;background-color: <%=background%>;"><span class="font-italic">Cargando</span></div>
</div>