<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      .bold{
        font-weight: bold;
        color: #0b254b;
        font-size: 15px;
      }
      p,h1{
        color: #0b254b;
        text-align: center;
      }
      img{
        display: block;
        font-size: 24px;
        text-align: center;
        text-decoration: none;
        width: 300px;
        height: auto;
        margin: auto;
      }
      
    </style>
  </head>

  <body>
      <div style="
        margin-right: -15px; 
        margin-left: -15px; 
        display: flex; 
        flex-wrap: wrap; 
        justify-content: center !important;
        font-family: 'Poppins', sans-serif !important;">
        <div style="flex:0 0 85%; max-width: 85%;">
          <img src="https://frozen-taiga-71507.herokuapp.com/img/Logo.png">
          <%= yield %>
         </div>
      </div>
    
  </body>
</html>
