<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      
      .bold{
        font-weight: bold;
        color: #0b254b;
        font-size: 15px;
      }
      p,h1{
        color: #0b254b;
        text-align: center;
      }
      img{
        display: block;
        font-size: 24px;
        text-align: center;
        text-decoration: none;
        width: 250px;
        height: auto;
        margin: auto;
      }
      div.caja-padre{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
      }
      div.caja-subpadre{
        margin-right: -15px;
        margin-left:-15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center !important;
        font-family: 'Arial', sans-serif !important;
      }
      div.caja-hijo{
          flex: 0 0 91.66667%;
          width: 91.66667%;
      }
      
    </style>
  </head>

  <body>
      <div class="caja-padre">
        <div class="caja-subpadre">
            <div class="caja-hijo">
              <img src="https://otacarcambios.com/img/Logo.png">
              <%= yield %>
            </div>
        </div>
      </div>
  </body>
</html>
